---
import "../styles/global.css";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const { pageTitle } = Astro.props;
const siteTitle = "DeeWeb";
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <p>
        This is where I will be sharing my learning journey with using Astro.
      </p>

      <ul>
       {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
      </ul>
    </BaseLayout>
  </body>
</html>
