---
const platform = 'GitHub';
const portfolio = 'deesclouds.world'
const platform1 = 'LinkedIn';
const platform2 = 'Mastodon';
const platform3 = 'Twitter'
const username = 'deesclouds';

---

<footer>
    <p>Follow me on my journey of creating magical and meaningful projects:</p>
        <p> <a href={`https://www.${platform}.com/${username}`}>{platform}</a> | <a href={`https://www.${portfolio}`}>Portfolio site</a> | <a href={`https://www.${platform1}.com/${username}`}>{platform1}</a> | <a href={`https://www.${platform2}.com/${username}`}>{platform2}</a> | <a href={`https://www.${platform3}.com/${username}`}>{platform3}</a></p>
</footer>